# Byte-compiled / optimized / DLL files
__pycache__/
*.egg-info/

# Ignore Virtual Environment
.venv/

# Ignore Visual Studio Code settings folder
.vscode/

*.hdb
*.cdb
*.tdf
*.bak
*.qmsg
*.kpt
*.hier_info
*.hif
*.hsd
*.ddb
*.tdb
*.flock
*.dcp
hackathon/
vivado/bd/*.sv
vivado/bd/*.svh
vivado/bd/*.v
vivado/bd/*.vh
*.jou
*.log
*.str
*.gen/
.Xil
ipshared/
.dvt
**/ip_repo/**/*.v
**/ip_repo/**/*.sv
**/ip_repo/**/*.vhd
**/ip_repo/**/*.vhdl
**/ip_repo/**/*.xdc
**/ip_repo/**/*.bmj
**/ip_repo/**/*.dcp
